@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#content5-w .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-w .mbr-article {
  color: #fff;
}
#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}
